
html,body {
  height: 100%;
}

  body
  {
  width: 96%;
  background-color: rgba(49, 158, 185, 0.836);
  margin: auto;
  text-align: center;
}


.contain 
{
 height: 70%;
 border-radius: 8px ;
 background-image: url(./thumb.jpg);
 background-position: center;
 background-size: cover;
}

.top 
{
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: orange;
  background-color:rgba(11, 47, 192, 0.507); 
  font-weight: 900;
}

.quote {
  color: rgb(255, 230, 0);
  background-color:rgba(11, 47, 192, 0.507);  */
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
}


.address 
{
  color: rgba(52, 48, 253, 0.956);
  background-color: rgba(30, 241, 76, 0.781);
  font-weight: 600;
  margin-top: 20px ;
  padding: 5px;
  border-radius: 5px;
}


.contact 
{
  border-radius: 5px;
  margin-bottom: 10px ;
  background-color:rgba(11, 47, 192, 0.507); 
  margin-bottom: 20px ;
  border-radius: 5px;
  /* background-color: oldlace; */
}

.contact ul 
{
  text-align: center;
  padding: 5px ;
  display: inline-flex ;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact li 
{
  padding : 8px ;
  border-radius: 5px;
  background-color: red;
  width: 40%;
  justify-content: space-evenly;
  list-style: none;  
}

.contact ul :hover
{
  background-color: rgb(30, 241, 76);
  color: black;
}


.contact a
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 550;
  padding: 3px ;
  border-radius: 5px ;
  text-decoration: none;
  text-transform: capitalize;
}


.margin
 {
  margin-bottom: 50px;
}
